
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm"  *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="email" ngModel name="email" #emailInput="ngModel"  placeholder="E-mail" required email>
            <mat-error *ngIf="emailInput.invalid"> Please enter valid email </mat-error>
        </mat-form-field>


        <mat-form-field > 
            <input type="password" ngModel #passwordInput="ngModel" name="password" matInput placeholder="Passowrd" required>   
            <mat-error *ngIf="passwordInput.invalid">Please enter valid password </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
      

    </form>

</mat-card>


